<% content_for :title, @title %>

<%= render 'shared/navigation' %>
<div class="container">
  <h1><%= @title %></h1>
  <%= content_tag(:h4, "Total TPE: #{@total_tpe}") if active_team?(@title) %>

  <%= render 'shared/players' %>
</div>
