<% content_for :title, @team.name %>

<h1></h1>
<table class="table table-bordered" id="playerTable">
  <thead>
  <tr>
    <th scope="col" data-sortable="true">Regression Season</th>
    <th scope="col" data-sortable="true">Name</th>
    <th scope="col" data-sortable="true">Position</th>
    <th scope="col" data-sortable="true">TPE</th>
  </tr>
  </thead>

  <tbody>
  <% @team.players.each do |player| %>
    <tr>
      <td><%= player.regression_season %></td>
      <td><%= link_to player.name, player_path(player) %></td>
      <td><%= player.position %></td>
      <td><%= player.tpe %></td>
    </tr>
  <% end %>
  </tbody>
</table>

